<div class="titles">
    <svg class="titles__icon"> <use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
    <span class="titles__label">Education</span>
</div>

<div class="education">
    <div class="education-iium">

        <div class="iium-picture">
            <img src="../../assets/iium.png" alt="iium" width="200" height="200">
        </div>

        <div class="education-content">
            <span class="iium-title"> International Islamic University Malaysia (IIUM) </span>
            <span class="iium-sub-title"> Bachelor of Information Technology (Honours) </span>
            <span class="iium-sub-title"> 2014 - 2018 </span>
        </div>

    </div>
</div>