<div class="titles">
    <svg class="titles__icon"> <use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
    <span class="titles__label">Education</span>
</div>

<div class="education animate__fadeInDown animate__animated animate__faster" *ngFor="let education of educations; index as i">
    <div class="education-iium">

        <div class="iium-picture">
            <img [src]="'data:image/png;base64,' + education.encodeImg" alt="iium" width="200" height="200">
        </div>

        <div class="education-content">
            <span class="iium-title">  {{education.name }}</span>
            <span class="iium-sub-title"> {{ education.course }} </span>
            <span class="iium-sub-title"> {{ education.year }}</span>
        </div>

    </div>
</div>