.profile {
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
    color: var(--color-grey-dark-1);
    box-shadow: var(--shadow);
}

.profile-photo {
    width: 20rem;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--shadow);
    & img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}