<div class="profile">

    <!-- Profile Photo  -->
    <div class="form-group">
        <span class="label"> 
            Profile Picture
        </span>

        <br *ngIf="!photo.encodeImg" />
        <div class="profile-photo" *ngIf="photo.encodeImg">
            <img [src]="'data:image/png;base64,' + photo.encodeImg" height="100%" alt="syahir-ghariff">
        </div>

        <label class="upload-photo" for="profile-photo">
            <svg class="upload-photo__icon"> <use xlink:href="../../assets/sprite.svg#icon-image"></use></svg><span> Upload Photo </span>
        </label>

        <input type="file" accept="image/*" id="profile-photo" class="file-photo" (change)="onUploadImage($event)">

    </div>

    <!-- Profile Name  -->
    <div class="form-field form-group">
        <mat-form-field appearance="outline">
            <mat-label>Display Name </mat-label>
            <input [(ngModel)]="name.name" matInput>
        </mat-form-field>
    </div>

    <!-- Details  -->
    <div class="m-list" *ngFor="let detail of details; index as i">
        <span class="label"> 
            Details {{i+1}}
        </span>

        <!-- Details name  -->
        <div class="form-field form-group">
            <mat-form-field appearance="outline">
                <mat-label>Details Name</mat-label>
                <input [(ngModel)]="detail.name" matInput>
            </mat-form-field>
        </div>

        <!-- Details Svg  -->
        <div class="form-field">
            <mat-form-field appearance="outline">
                <mat-label>SVG</mat-label>
                <input [(ngModel)]="detail.svg" matInput>
            </mat-form-field>
        </div>

        <!-- Buttons  -->
        <div class="btn-status-delete">
            <div class="slide-toggle">
                <mat-slide-toggle [checked]="detail.active === 'A'" (change)="setToggle(i, $event)"></mat-slide-toggle>
            </div>

            <div class="delete" (click)="onDelete(detail, i)">
                <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
            </div>
        </div>
    </div>

    <!-- Add Details Button  -->
    <div class="add-more" (click)="onAddDetails()">
        <svg class="add-more__icon"> <use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Details </span>
    </div>

    <!-- Submit button  -->
    <div class="submit-button">
        <button (click)="onSubmit()"> Update </button>
    </div>

</div>


<!-- <select [(ngModel)]="detail.active" [ngClass]="{'option-active' : detail.active === 'A', 'option-inactive' : detail.active === 'X'}"> 
                <option value="" selected disabled> Status </option> 
                <option value="A"> Active </option>
                 <option value="X"> Inactive </option>
            </select> -->