<div class="titles">
    <svg class="titles__icon"> <use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
    <span class="titles__label">Experience</span>
</div>

<div class="experience">

    <div class="experience-dagangnet">
        <div class="experience-dagangnet__picture">
            <img src="../../assets/dagangnet.png" alt="iium" width="210" height="160">
        </div>
    </div>

    <div class="experience-content">
        <span class="job-title"> DagangNet Technologies Sdn Bhd </span>
        <span class="job-desc"> Analyst Programmer (Java) </span>
        <span class="job-desc"> 2018 - Current </span>

        <span class="job-link"> <svg class="job-link__icon"> <use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg></span>
    </div>
</div>