<div class="experience-container">
    <div class="titles">
        <svg class="titles__icon"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-zap'"></use></svg>
        <span class="titles__label">Experience</span>
    </div>

    <!-- <div class="progress-loader-mini" *ngIf="loading">
        <mat-progress-spinner [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div> -->


    <div *ngFor="let job of jobs; index as i">
        <div class="experience animate__fadeInDown animate__animated animate__faster" (click)="openDialog(job)" id="{{'experience' + i}}" matRipple>

            <div class="experience-content">
                <span class="job-title"> {{job.companyName}} </span>
                <span class="job-desc"> {{job.title}} </span>
                <span class="job-desc"> {{job.year}} </span>

                <span class="job-link"> <svg class="job-link__icon"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-plus-circle'"></use></svg></span>
            </div>
        </div>
    </div>
</div>