<header class="header">

    <div class="syahir-photo">
        <img src="../../assets/syahir.JPG" alt="sg-photo" height="100%">
    </div>

    <div class="syahir-title">
        <div class="syahir-title__name"> Syahir Ghariff </div>
        <div class="border-line"></div>
        <div class="syahir-title__job">
            <span> <svg class="syahir-title__icon"> <use xlink:href="../../assets/sprite.svg#icon-desktop_windows"></use></svg>Programmer </span>
            <span> <svg class="syahir-title__icon"> <use xlink:href="../../assets/sprite.svg#icon-map-marker"></use></svg> Malaysia </span>
        </div>
    </div>

    <div class="simple-wallpaper"></div>
</header>

<nav class="navbar">
    <ul class="top-bar">
        <li> <span> education </span></li>
        <li> <span> tech </span></li>
        <li> <span> experience </span></li>
        <li> <span> contact </span></li>
        <li> <span class="resume-btn"> resume </span></li>
    </ul>
</nav>

<app-education></app-education>
<app-technology></app-technology>
<app-experience></app-experience>