<!-- <div class="progress-loader-mini" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'">
    </mat-progress-spinner>
</div> -->

<header class="header">
    <div class="syahir-photo animate__fadeInDown animate__animated animate__faster">
        <img [src]="'data:image/png;base64,' + photo.encodeImg" height="100%" alt="syahir-ghariff" *ngIf="photo.encodeImg">
    </div>


    <div class="syahir-title ">
        <div class="syahir-title__name animate__fadeInDown animate__animated animate__faster"> {{name.name}} </div>
        <div class="border-line"></div>

        <div class="syahir-title__job animate__fadeInDown animate__animated animate__faster">
            <div *ngFor="let detail of details; index as i" class="details_container">
                <span class="details"> <svg class="syahir-title__icon"> <use [attr.xlink:href]="constants.SVG_PATH+detail.svg"></use></svg> </span>
                <span class="details"> {{detail.name}} </span>
            </div>
        </div>
    </div>


    <div class="simple-wallpaper"></div>
</header>

<nav class="navbar-route">
    <button mat-stroked-button color="primary" class="btn-route" routerLink="/me" routerLinkActive="active"> 
        <span style="float:left"> <svg class="icon-route"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-zap'"></use></svg>   </span>
        <span style="float:right">Log In</span> 
     </button>
</nav>

<app-education></app-education>
<app-technology></app-technology>
<app-experience></app-experience>
<app-footer></app-footer>