<div class="m-base">
    <mat-tab-group [color]="'accent'" mat-align-tabs="center">
        <!-- #1 Languages  -->


        <mat-tab label="Languages">

            <!-- Mini title  -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Programming </span>
            </div>

            <div class="tech-titles">
                <span class="muted-text" style="font-style: italic; font-size: 12px; text-transform: none;"> ** Drag item to sort </span>
            </div>

            <div [sortablejs]="languages">
                <!-- Programming - Language  -->
                <mat-expansion-panel *ngFor="let language of languages; index as i" class="m-expansion-panel">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="language.name">{{language.name}}</span>
                            <span *ngIf="!language.name" class="muted-text"> Please insert here </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>Language Name</mat-label>
                            <input [(ngModel)]="language.name" matInput>
                        </mat-form-field>
                    </div>


                    <!-- SVG  -->
                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>SVG</mat-label>
                            <input [(ngModel)]="language.svg" matInput>
                        </mat-form-field>
                    </div>

                    <div class="btn-status-delete">
                        <div class="slide-toggle">
                            <mat-slide-toggle [checked]="language.active === 'A'" (change)="setToggle(i, 'LANGUAGES' ,$event)"></mat-slide-toggle>
                        </div>

                        <div class="delete" (click)="onDeleteLanguage(language, i)">
                            <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddLanguage()">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Language </span>
            </div>
        </mat-tab>

        <!-- #2 Frameworks  -->
        <mat-tab label="Frameworks">
            <!-- Mini title  -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Programming </span>
            </div>

            <div class="tech-titles">
                <span class="muted-text" style="font-style: italic; font-size: 12px; text-transform: none;"> ** Drag item to sort </span>
            </div>

            <!-- Programming - Framework  -->
            <div [sortablejs]="frameworks">
                <mat-expansion-panel *ngFor="let framework of frameworks; index as i" class="m-expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="framework.name">{{framework.name}}</span>
                            <span *ngIf="!framework.name" class="muted-text"> Please insert here </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>Framework Name</mat-label>
                            <input [(ngModel)]="framework.name" matInput>
                        </mat-form-field>
                    </div>

                    <!-- SVG  -->
                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>SVG</mat-label>
                            <input [(ngModel)]="framework.svg" matInput>
                        </mat-form-field>
                    </div>

                    <div class="btn-status-delete">
                        <div class="slide-toggle">
                            <mat-slide-toggle [checked]="framework.active === 'A'" (change)="setToggle(i, 'FRAMEWORKS' ,$event)"></mat-slide-toggle>
                        </div>

                        <div class="delete" (click)="onDeleteLanguage(framework, i)">
                            <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>


            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddFramework()">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Framework </span>
            </div>

        </mat-tab>

        <!-- #3 Tools  -->
        <mat-tab label="Tools">
            <!-- Tools -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Tools </span>
            </div>

            <div class="tech-titles">
                <span class="muted-text" style="font-style: italic; font-size: 12px; text-transform: none;"> ** Drag item to sort </span>
            </div>

            <div [sortablejs]="tools">
                <mat-expansion-panel *ngFor="let tool of tools; index as i" class="m-expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span *ngIf="tool.name">{{tool.name}}</span>
                            <span *ngIf="!tool.name" class="muted-text"> Please insert here </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>Tool Name</mat-label>
                            <input [(ngModel)]="tool.name" matInput>
                        </mat-form-field>
                    </div>

                    <!-- SVG  -->
                    <div class="form-field">
                        <mat-form-field appearance="outline">
                            <mat-label>SVG</mat-label>
                            <input [(ngModel)]="tool.svg" matInput>
                        </mat-form-field>
                    </div>

                    <div class="btn-status-delete">
                        <div class="slide-toggle">
                            <mat-slide-toggle [checked]="tool.active === 'A'" (change)="setToggle(i, 'TOOLS' ,$event)"></mat-slide-toggle>
                        </div>

                        <div class="delete" (click)="onDeleteLanguage(tool, i)">
                            <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddTool()">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Tools </span>
            </div>

        </mat-tab>
    </mat-tab-group>

    <!-- Submit button  -->
    <div class="submit-button">
        <button (click)="onSubmit()">Update</button>
    </div>
</div>