<div class="m-base">
    <mat-tab-group [color]="'accent'" mat-align-tabs="center">
        <!-- #1 Languages  -->
        <mat-tab label="Languages">
            <!-- Mini title  -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Programming </span>
            </div>

            <!-- Programming - Language  -->
            <div class="m-list" *ngFor="let language of languages; index as i">
                <!-- Name  -->
                <div class="form-group" style="margin-top: 0">
                    <span class="label"> Name </span>
                    <div class="form-group__input">
                        <input type="text" [(ngModel)]="language.name" />
                    </div>
                </div>

                <!-- SVG  -->
                <div class="form-group">
                    <span class="label"> SVG Link </span>
                    <div class="form-group__input">
                        <input type="text" placeholder="Svg Link" [(ngModel)]="language.link" />
                    </div>
                </div>

                <div class="btn-status-delete">
                    <select [(ngModel)]="language.active" [ngClass]="{'option-active' : language.active === 'A', 'option-inactive' : language.active === 'X'}">
                            <option value="" selected disabled> Status </option>
                            <option value="A"> Active </option>
                            <option value="X"> Inactive </option>
                        </select>

                    <div class="delete" (click)="onDeleteLanguage(language, i)">
                        <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                    </div>
                </div>
            </div>

            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddLanguage()" style="margin-top: 10px;">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Language </span>
            </div>
        </mat-tab>

        <!-- #2 Frameworks  -->
        <mat-tab label="Frameworks">
            <!-- Mini title  -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Programming </span>
            </div>

            <!-- Programming - Framework  -->
            <div *ngFor="let framework of frameworks; index as i" class="m-list">
                <!-- Name  -->
                <div class="form-group" style="margin-top: 0">
                    <span class="label"> Name </span>
                    <div class="form-group__input">
                        <input type="text" [(ngModel)]="framework.name" />
                    </div>
                </div>

                <!-- SVG  -->
                <div class="form-group">
                    <span class="label"> SVG Link </span>
                    <div class="form-group__input">
                        <input type="text" placeholder="Svg Link" [(ngModel)]="framework.link" />
                    </div>
                </div>

                <div class="btn-status-delete">
                    <select [(ngModel)]="framework.active" [ngClass]="{'option-active' : framework.active === 'A', 'option-inactive' : framework.active === 'X'}">
                            <option value="" selected disabled> Status </option>
                            <option value="A"> Active </option>
                            <option value="X"> Inactive </option>
                        </select>

                    <div class="delete" (click)="onDeleteFramework(framework, i)">
                        <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                    </div>
                </div>
            </div>

            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddFramework()" style="margin-top: 10px;">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Framework </span>
            </div>

        </mat-tab>

        <!-- #3 Tools  -->
        <mat-tab label="Tools">
            <!-- Tools -->
            <div class="tech-titles">
                <svg class="tech-titles__icon"><use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg>
                <span class="tech-titles__label"> Tools </span>
            </div>

            <div *ngFor="let tool of tools; index as i" class="m-list">
                <!-- Name  -->
                <div class="form-group" style="margin-top: 0">
                    <span class="label"> Name </span>
                    <div class="form-group__input">
                        <input type="text" [(ngModel)]="tool.name" />
                    </div>
                </div>

                <!-- SVG  -->
                <div class="form-group">
                    <span class="label"> SVG Link </span>
                    <div class="form-group__input">
                        <input type="text" placeholder="Svg Link" [(ngModel)]="tool.link" />
                    </div>
                </div>

                <div class="btn-status-delete">
                    <select [(ngModel)]="tool.active" [ngClass]="{'option-active' : tool.active === 'A', 'option-inactive' : tool.active === 'X'}">
                            <option value="" selected disabled> Status </option>
                            <option value="A"> Active </option>
                            <option value="X"> Inactive </option>
                        </select>

                    <div class="delete" (click)="onDeleteTool(tool, i)">
                        <svg class="delete__icon"><use xlink:href="../../assets/sprite.svg#icon-clear"></use></svg>
                    </div>
                </div>
            </div>

            <!-- Add Details Button  -->
            <div class="add-more" (click)="onAddTool()" style="margin-top: 10px;">
                <svg class="add-more__icon"><use xlink:href="../../assets/sprite.svg#icon-plus-circle"></use></svg> <span> Add Tools </span>
            </div>

        </mat-tab>
    </mat-tab-group>

    <!-- Submit button  -->
    <div class="submit-button">
        <button (click)="onSubmit()">Update</button>
    </div>
</div>