<div class="titles">
    <svg class="titles__icon"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-zap'"></use></svg>
    <span class="titles__label"> TECH </span>
</div>

<div class="technology">

    <!-- Programming -->
    <div class="section-tech">
        <fieldset>
            <legend>
                <span> Programming </span>
            </legend>

            <!-- Start: Language -->
            <span class="tech-mini-title"> Language </span>
            <div class="tech-content">

                <!-- Syahir Test -->
                <div class="tech-list animate__fadeInDown animate__animated animate__faster" *ngFor="let language of languages" matRipple>
                    <div class="tech-list__icon">
                        <svg class="tech-list__icon__item"> <use [attr.xlink:href] = "constants.SVG_PATH+language.svg" ></use></svg>
                    </div>
                    <div class="tech-list__item">
                        {{language.name}}
                    </div>
                </div>
            </div>
            <!-- End: Language -->


            <!-- Start: Framework -->
            <span class="tech-mini-title"> Framework </span>
            <div class="tech-content">

                <!--  Spring  -->
                <div class="tech-list animate__fadeInDown animate__animated animate__faster" *ngFor="let framework of frameworks" matRipple>
                    <div class="tech-list__icon">
                        <svg class="tech-list__icon__item"> <use [attr.href] = "constants.SVG_PATH+framework.svg" ></use></svg>
                    </div>
                    <div class="tech-list__item">
                        {{framework.name}}
                    </div>
                </div>
            </div>
            <!-- End: Framework -->


        </fieldset>
    </div>


    <!-- Section Tools -->
    <div class="section-techs">
        <fieldset>
            <legend>
                <span> Tools </span>
            </legend>

            <!-- Start: Tool -->
            <div class="tech-content">
                <div class="tech-list tools animate__fadeInDown animate__animated animate__faster" *ngFor="let tool of tools" matRipple>
                    <div class="tech-list__icon">
                        <svg class="tech-list__icon__item"> <use [attr.href] = "constants.SVG_PATH+tool.svg" ></use></svg>
                    </div>
                    <div class="tech-list__item">
                        {{tool.name}}
                    </div>
                </div>
            </div>
            <!-- End: Tool -->

        </fieldset>
    </div>

</div>