<div class="me" *ngIf="isUserLogged==='false'">
    <div class="me__container animate__pulse animate__animated animate__faster">
        <div class="content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="content-item">
                    <svg class="content-item__icons"> <use xlink:href="../../assets/sprite.svg#icon-person"></use></svg>
                    <input type="text" placeholder="username" id="username" formControlName="username">
                </div>

                <div class="content-item">
                    <svg class="content-item__icons"> <use xlink:href="../../assets/sprite.svg#icon-vpn_key"></use></svg>
                    <input type="password" placeholder="password" id="password" formControlName="password">
                </div>

                <div class="content-item">
                    <button class="btn_login" type="submit"> ok </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isUserLogged==='true'">

    <div class="admin-content">

        <!-- Header NavBar  -->
        <div class="navbar">

            <mat-menu #appMenu="matMenu">

                <!-- Profile -->
                <button mat-menu-item (click)="onMenuClick('profile')">
                    <span> Profile </span>
                </button>

                <!-- Education -->
                <button mat-menu-item (click)="onMenuClick('education')">
                    <span> Education </span>
                </button>

                <!-- Tech  -->
                <button mat-menu-item (click)="onMenuClick('tech')">
                    <span> Tech </span>
                </button>

                <!-- Experience  -->
                <button mat-menu-item (click)="onMenuClick('experience')">
                    <span> Experience </span>
                </button>

                <!-- Experience  -->
                <button mat-menu-item (click)="onMenuClick('svg')" ng>
                    <span> Generate SVG File </span>
                </button>

                <!-- Login Trx -->
                <button mat-menu-item (click)="onMenuClick('loginTrx')" *ngIf="role==='MASTER'">
                    <span> Stats </span>
                </button>


            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                 <span> <svg> <use xlink:href="../../assets/sprite.svg#icon-zap"></use></svg> </span>
            </button>

            <span class="logout-btn" (click)=onLogout()> Logout </span>
        </div>



        <!-- Page menu - Profile -->
        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isProfile" id="profile">
            <span class="label-title">Profile </span>
            <app-m-profile></app-m-profile>
        </div>

        <!-- Page menu - Education  -->
        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isEducation" id="education">
            <span class="label-title">Education </span>
            <app-m-education></app-m-education>
        </div>

        <!-- Page menu - Tech  -->
        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isTech" id="tech">
            <span class="label-title">Tech </span>
            <app-m-tech></app-m-tech>
        </div>

        <!-- Page menu - generate svg file  -->
        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isSvg" id="svg">
            <span class="label-title">Generate SVG File  </span>
            <app-m-svg></app-m-svg>
        </div>

        <!-- Page menu - job experience  -->
        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isExperience" id="experience">
            <span class="label-title"> Job Experience </span>
            <app-m-experience></app-m-experience>
        </div>

        <div class="menu-transition animate__animated animate__fadeIn animate__faster" *ngIf="isStats" id="stats">
            <span class="label-title"> Stats </span>
            <app-m-stats></app-m-stats>
        </div>
    </div>
</div>