.me {
    margin-top: 10vh;
    background-image: linear-gradient(to right bottom, rgba(#00B4DB, .5), rgba(#6A82FB, .5)), url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    &__container {
        display: flex;
        padding: 2rem;
        background: rgba(black, .5);
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        align-content: center;
        box-shadow: var(--shadow-dark);
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 200px;
    input {
        margin: 10px;
        padding: 5px;
        border-radius: 4px;
        border: none;
        width: 100%;
        text-transform: lowercase;
    }
}

.content-item {
    display: flex;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    &__icons {
        width: 15px;
        height: 15px;
        fill: gainsboro;
    }
}

.btn_login {
    margin-top: 20px;
    background: #78ffd6;
    border: none;
    color: black;
    padding: 9px;
    border-radius: 50%;
    font-weight: 900;
}