.quill-container {
    background: white;
    font-size: 20px !important;
    margin-bottom: 20px;
}

.specific-class {
    background-color: #444;
}

:host /deep/ .specific-class .mat-expansion-indicator:after {
    font-style: italic;
    color: white;
}

.job-photo {
    width: 20rem;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--shadow);
    & img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}