<div class="education">

    <div *ngFor="let education of educations; index as i" class="edu-list animate__animated animate__fadeInUp animate__faster">

        <!-- Education Photo  -->
        <div class="form-group" style="margin-top: 20px;">
            <span class="label"> 
                Picture
            </span>

            <br *ngIf="!education.encodeImg" />
            <div class="edu-photo" *ngIf="education.encodeImg">
                <img [src]="'data:image/png;base64,' + education.encodeImg" height="100%">
            </div>

            <label class="upload-photo" for="{{'edu-photo' + i}}">
                <svg class="upload-photo__icon"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-image'"></use></svg><span> Upload Photo </span>
            </label>

            <input type="file" accept="image/*" id="{{'edu-photo' + i}}" class="file-photo" (change)="onUploadImage($event, i)">

        </div>


        <!-- Education Name  -->
        <div class="form-field form-group ">
            <mat-form-field appearance="outline">
                <mat-label>Education Name </mat-label>
                <input [(ngModel)]="education.name" matInput>
            </mat-form-field>
        </div>

        <!-- Course  -->
        <div class="form-field ">
            <mat-form-field appearance="outline">
                <mat-label>Course </mat-label>
                <input [(ngModel)]="education.course" matInput>
            </mat-form-field>
        </div>

        <!-- Year -->
        <div class="form-field ">
            <mat-form-field appearance="outline">
                <mat-label>Year </mat-label>
                <input [(ngModel)]="education.year" matInput>
            </mat-form-field>
        </div>


        <div class="btn-status-delete">

            <div class="slide-toggle">
                <mat-slide-toggle [checked]="education.active === 'A'" (change)="setToggle(i, $event)"></mat-slide-toggle>
            </div>

            <div class="delete" (click)="onDelete(education, i)">
                <svg class="delete__icon"><use [attr.xlink:href]="constants.SVG_PATH+'icon-clear'"></use></svg>
            </div>
        </div>
    </div>

    <!-- Add Details Button  -->
    <div class="add-more" (click)="onAddEducation()" style="margin-top: 10px;">
        <svg class="add-more__icon"> <use [attr.xlink:href]="constants.SVG_PATH+'icon-plus-circle'"></use></svg> <span> Add Education </span>
    </div>


    <!-- Submit button  -->
    <div class="submit-button">
        <button (click)="onSubmit()"> Update </button>
    </div>

</div>