.job-title {
    margin-top: 1.8rem;
    margin-left: 1rem;
    display: flex;
    margin-bottom: 10px;
    font-size: 1.8rem;
    border-bottom: 1px solid whitesmoke;
}

.muted-text {
    color: var(--color-grey-light-4);
}